/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  max-width: 1000px; 
}
.navbar {
  display: none;
}


/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading {
  margin-bottom: 2rem;
}
.section-description {
  margin-bottom: 1.2rem;
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-align-left {
  text-align: left
}

.circular {
    width: 265px;
    height: 265px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    background: no-repeat;
    margin: 7%;
}


/* Larger than phone */
@media (min-width: 550px) {
  /* Navbar */
  .navbar {

  }
  .navbar-title {

  }
  .section {
    padding: 12rem 0 12rem 0;
  }
  .mission {
    padding-bottom: 12rem;
    text-align: center;
    height: 165px;
    background-color: #d6d6d6;  
  }
  .one-half {
    width: 48%;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  /* Navbar */
  .navbar {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
  }
  .navbar > .container {
      width: 100%; 
  }
  .navbar-list {
      list-style: none;
      margin-bottom: 0;
  }
  .navbar-item {
      position: relative;
      float: right;
      margin-bottom: 0; 
  }
  .navbar-title {
    line-height: 1.40
  }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
  .navbar-link.active {
    color: #33C3F0; }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 80%; }
}

/* Larger than Desktop */ 
@media (min-width: 1000px) {
  .section {
    padding: 10rem 0 19rem;
  }
  .mission {
    padding: 12rem 25rem 8rem 25rem;
  }
  .mission-heading {
    font-size: 3.0rem;
  }
  .whatwedo {

  }
}